{% load static %}
{% url 'home' as home_url %}
{% url 'contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'register' as register_url %}
{% url 'cart:home' as cart_url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>mjshop</title>
	</head>
<body>
<div class="main_menu">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-light scrolling-navbar ml-2 mr-2">
  <div class="container">
  <a class="navbar-brand" href="{{ home_url }}"><h1><em>MjShop</em></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle Navigation">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  </button>

  <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto menu_nav">
          <li class="nav-item {% if request.path == product_list_url %}active{%endif%}">
              <a class="nav-link" href="{{ product_list_url }}">Home</a>
          </li>
          <!--<li class="nav-item {% if request.path == home_url %}active{% endif %}">
              <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only"></span></a>
          </li> -->
          <li class="nav-item {% if request.path == contact_url %}active{%endif%}">
              <a class="nav-link" href="{{ contact_url }}"> Contact </a>
          </li>

          <li class="nav-item {% if request.path == cart_url %}active{%endif%}">
              <a class="nav-link" href="{{  cart_url }}"><img src='{% static "img/bag.png" %}'/><div class="navbar-cart-count" style="position: absolute;top: 25px;width: 21px;height: 21px;border-radius: 50%;background: #bbe432;text-align: center;line-height: 23px;font-size: 12px;font-weight: 600;color: #FFFFFF;">{{ request.session.cart_item }}</div></a>

          </li>

          {% if request.user.is_authenticated %}
          <li class="nav-item {% if request.path == logout_url  %}active{%endif%}">
              <a class="nav-link" href="{{ logout_url  }}">Logout </a>
          </li>
          {%else%}
          <li class="nav-item {% if request.path == register_url %}active{%endif%}">
              <a class="nav-link" href="{{ register_url }}">Register </a>
          </li>
          <li class="nav-item {% if request.path == Login_url %}active{%endif%}">
              <a class="nav-link" href="{{ login_url }}">Login </a>
          </li>
          {%endif%}
          <li class="nav-item">
              {% include 'search/snippets/search-form.html' %}
          </li>
      </ul>
  </div>
  </div>
</nav>
</div>
</body>
</html>
