
{% extends 'base.html' %}
{% block content%}
<body>

  <section class="login_box_area section-margin-small">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<div class="hover">
							<h4>Already have an account?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="button button-account" href="/login">Login Now</a>
						</div>
					</div>
				</div>
        <div class="col-lg-6 ">
          <div class="login_form_inner register_form_inner">
            <h1 class="h3 mt-5 mb-3 font-weight-normal">Register</h1>
            <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <div class="col-md-12 form-group">
              <button type="submit" value="submit" class="button button-register w-100">Register</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}
</body>
