{% extends 'base.html' %}
{% block content %}
<section class="margin-samll">
<div class="container">
  <div class="row">
 {% if request.GET.q %}
 <div class="col-12 mb-3">
   <h1 style="color:green;">Results for<b>{{ request.GET.q }}</b></h1>
 </div>
 {% endif %}

    {% for obj in object_list %}
    <div class="col">
      {% include 'products/snippets/card.html' with instance=obj %}

      {% if forloop.counter|divisibleby:3 %}
      </div></div><div class='row'><div class='col-12'><hr/></div>
     {% else %}
     </div>
     {% endif %}

    {%endfor%}
  </div>
  </section>
{% endblock %}
