{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
     <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"> -->
    {% include 'base/css.html' %}
  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

  <body>
      {% include 'base/navbar.html' %}
        {% block content %}{% endblock %}
        {% include 'base/js.html' %}

  </body>
</html>




  <!--  <script>
    $(document).ready(function(){
      var productForm = $(".form-product-ajax")
      productForm.submit(function(event){
        event.preventDefault();
        console.log("form is not");

        var thisForm=$(this)
        var actionEndpoint=thisForm.attr("action");
        var httpMethod=thisForm.attr("method");
        var formData=this.serialize();

        $.ajax({
          url:actionEndpoint,
          method:httpMethod,
          data:formData,
          success:function(data){
            var submitSpan=thisForm.find(".submit-span")
            if (data.added){
              submitSpan.html("In cart <button type='submit' class='btn btn-link'> Remove </button>")
            }else{
              submitSpan.html("<button type='submit' class='btn btn-success'> Add to cart</button>")
            }
            var navbarCount = $(".navbar-cart-count");
            navbarCount.text(data.cartItemCount)
          },
          error:function(errorData){
            console.log("Error");
            console.log(errorData);
          }

        })

      })

    })

  </script> -->
